body {
  font-family: Arial;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters select,
.filters input,
.filters button {
  padding: 8px;
  margin-right: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.no-data {
  color: red;
  font-weight: bold;
}

.product img {
  width: 100%;
  max-width: 150px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
